<div id="cont"></div>
<style>
        th, td, p, input {
            font:14px Verdana;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }
</style>
<script type="text/javascript">
var gsurl = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRfZ0pGUkVbBDJXPjUQW9zlepN3umSTRnzlsYmPwqCSYbqmBxV8MUbLIWlLLHaMa1MOKOxBAw5qCYIN/pub?gid=539939747&single=true&output=csv";
var resdata = null;
Papa.parse(gsurl, {
	download: true,
	complete: function(results) {
		console.log(results);
    		var arrayToString = JSON.stringify(Object.assign({}, results.data));  // convert array to string
    		var stringToJsonObject = JSON.parse(arrayToString);  // convert string to json object
		resdata = stringToJsonObject;
	}
})
	
</script>
